.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    
}

h1 {
    text-align: center;
    margin: 0;
}

button {
    align-self: center;
    padding: 10px;
    margin: 10px;
}

.black, .rainbow, .reset {
    padding: 20px;
    margin-top: 10px;
}

.container {
   max-width: 512px;
   max-height: 512px;
   padding: 0;
   margin: 20px;

   display: flex;
   flex-wrap: wrap;
   
}

.cell {
    border: 1px black solid;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

